<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}. Algún derecho reservado. Hecho por 
			<span class="text-orange"></span>
		</a>
		<a href="mailto:alfredo.escamilla.gonzalez@gmail.com" target="_blank" rel="noopener"
			><span class="text-orange">Alfredo Escamilla.</span></a>
		Imágenes gracias a <a href="www.freepik.com" target="_blank" rel="noopener"
			><span class="text-orange">Freepik</span></a
		>
	</p>
</footer>
